{
	"env": {
		"node": true,
		"browser": true,
		"es6": true
	},
	"extends": "eslint:recommended",
	"parserOptions": {
		"ecmaVersion": 7,
		"ecmaFeatures": {
			"impliedStrict": true
		}
	},
	"rules": {
		"indent": ["warn", "tab", { "SwitchCase": 1 }],
		"linebreak-style": ["warn", "unix"],
		"quotes": ["off", "single"],
		"semi": ["off", "always"],
		"no-console": "off",
		"no-unused-vars": "warn"
	}
}
