#***************************************************************************************************
#
# JavaScript
#
#***************************************************************************************************

'.source.js':

	# -- Documentation -----------------------------------------------------------------------------

	'Comment Block':
		'prefix': 'cb'
		'body': """
			/*
				$
			$2
		"""

	'Header as H1':
		'prefix': 'ch1'
		'body': """
			/******************************************************************************$2*********************
			 *
			 * $1
			 *
			 ******************************************************************************$2********************/
			$3
		"""

	'Header as H2':
		'prefix': 'ch2'
		'body': '// -- $1 -------------------------------------------------------------------------------------$2'

	# -- Mics --------------------------------------------------------------------------------------

	'Indentation Bunny':
    	'prefix': 'bunny'
    	'body': """
			/*   I'm an indentation bunny */
			/*                  I prevent */
			/*   ()()          changes to */
			/*   ('.')         this code. */
			/*   (()()                    */
			/*  *(_()()                   */
		"""

#/***************************************************************************************************
#*
#* JSX
#*
#***************************************************************************************************/

'.source.js.jsx':

	# -- Documentation -----------------------------------------------------------------------------

	'Comment':
		'prefix': 'rc'
		'body': '{/* $1 */}$2'

	'Comment Block':
		'prefix': 'rcb'
		'body': """
			{/*
				$1
			*/}$2
		"""

	'Header as H1 in JSX':
		'prefix': 'rch1'
		'body': '{/* -- $1 -------------------------------------------------------------------------$2-----------*/}'
